#
# 13_rmFiles.cfg
#
address 2:5020/1042
ProtInbound     [BASEDIR]/in/inbound
Inbound         [BASEDIR]/in/inb
LocalInbound    [BASEDIR]/in/local
TempInbound     [BASEDIR]/in/tmp
Outbound        [BASEDIR]/out/outbound
TempOutbound    [BASEDIR]/out/tmp
LogFileDir      [BASEDIR]/log
msgBaseDir      [MBASEDIR]
DupeHistoryDir  [BASEDIR]/dupebase
NodelistDir     [BASEDIR]/nodelist
BundleNameStyle Amiga

Link 2:5020/1042
AKA 2:5020/1042
OurAKA 2:5020/1042

NetmailArea netmail [MBASEDIR]/netmail -b msg 2:5020/1042
BadArea     badecho [MBASEDIR]/bad -b msg 2:5020/1042
DupeArea    dupes   [MBASEDIR]/dupes -b msg 2:5020/1042
